html body {
	line-height: 30px; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	font-family: $basefont;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: $black;
	overflow-x: hidden;
	background-color: #ffffff;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

h1 {
	font-size: 25px;
	line-height: 30px;
}

h2 {
	font-size: 20px;
	line-height: 24px;
}

h3 {
	font-size: 14px;
	line-height: 17px;
}

h4 {
	font-size: 12px;
	line-height: 30px;
}

a {
	transition: 0.3s;
	color: $skyblue;

	&:hover {
		text-decoration: none;
		color: #000;
	}
}

p {
	font-size: 16px;
	line-height: 30px;
}

blockquote {

	font-style: italic;
	font-size: 32px;
	line-height: 15px;
	font-family: $basefont;
	letter-spacing: 4.8px;
	background: #edf3f9;
	padding: 25px 55px 29px 85px;
	position: relative;

	&::before {

		content: url('../images/quote.png');
		font-size: 100px;
		line-height: 119px;
		position: absolute;
		left: 0;
		color: $lightgreen;
		left: 35px;
		top: -50px;
	}

	span {

		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 1.8px;
		color: $skyblue;
		text-transform: uppercase;
		display: block;
		margin-top: 25px;
	}

	p {

		font-style: italic;
		font-size: 32px; 		
		font-family: $basefont;
		letter-spacing: 4.8px;
	}

}

// Some basic padding for all wrappers
.wrapper {
	padding: 35px 0;
}

// Reset hero wrapper padding to 0
#wrapper-hero {
	padding: 0 !important;
}

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
	font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
	border-bottom: 1px solid $gray-300;
}

// Adding some contrast background color to footer full widget
#wrapper-footer-full,
#wrapper-static-hero {
	background-color: $gray-200;
}

// Necessary WP classes
.wp-caption {
	font-size: inherit;
}

.wp-caption-text {
	font-size: inherit;
}

.screen-reader-text {
	@extend .sr-only;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	@extend .mx-auto;
}

// Post design
.entry-footer span {
	padding-right: 10;
}

// Limit featured image size to 100%
img.wp-post-image,
article img,
figure,
img,
#secondary img {
	max-width: 100%;
	height: auto;
}

// Skip to content link
a.skip-link {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
}

// Reset Jumbotron default margin
.jumbotron {
	margin-bottom: 0;
}

// Dropdown translation
.navbar-dark .navbar-nav .dropdown-menu .nav-link {
	display: block;
	width: 100%;
	clear: both;
	font-weight: $font-weight-normal;
	color: $dropdown-link-color !important;
	text-align: inherit;
	white-space: nowrap;
	background: none;
	border: 0;

	@include hover-focus {
		color: $dropdown-link-hover-color !important;
		text-decoration: none;
		background-color: $dropdown-link-hover-bg;
	}

	&.active,
	&:active {
		color: $dropdown-link-active-color !important;
		text-decoration: none;
		background-color: $dropdown-link-active-bg;
	}

	&.disabled,
	&:disabled {
		color: $dropdown-link-disabled-color !important;
		background-color: transparent;
		// Remove CSS gradients if they're enabled
		@if $enable-gradients {
			background-image: none;
		}
	}
}

.navbar-light .navbar-brand a {
	color: $navbar-light-active-color;
	@include hover-focus {
		color: $navbar-light-active-color;
	}
}

.navbar-dark .navbar-brand a {
	color: $navbar-dark-active-color;
	@include hover-focus {
		color: $navbar-dark-active-color;
	}
}

.navbar h1 {
	font-weight: $font-weight-normal;
}