// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$primary: #4c85c4;
$primary_dark: #0054a6;
$secondary: #82bc76;
$orange: #f86f14;
$black: #000000;
$white: #ffffff;
$white-smoke: #f4f4f4;
$gray: #707070;
$darkgray: #606060;
$lightgray: #d9d9d9;
$shadwo: #00000029;

$skyblue: #4c85c4;
$darkblue: #0054a6;
$lightgreen: #82bc76;
$button_hover: #6d9e63;
$ash: #e8e8e8;
$input_border: #b5b5b5;

$basefont: 'libre-franklin';