.author-page {

    .authorheader {

        margin-bottom: 24px;
        border-bottom: 1px solid #000;

        .author-description {

            p {

                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
            }
        }

        h5 {

            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            margin-bottom: 21px;
        }        
        
    }
}