.search-page {

    .search-wrapper {

        position: relative;
        margin-bottom: 39px;

        label {

            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
            margin-bottom: 20px;;
        }

        .search-icon {

            position: absolute;
            left: 20px;
            top: 18px;
            z-index: 99;

            i {

                color: $lightgreen;
                font-size: 22px;
            }
        }

        .search-input {

            padding: 15px 100px 15px 58px;
            font-size: 24px;
            line-height: 29px;
            border: 1px solid #707070;
            border-radius: 0;

            &:hover, &:foucs {

                box-shadow: 0;
            }

            &::placeholder {

                font-size: 24px;
                line-height: 29px;
                text-transform: capitalize;
                opacity: 0.3;
            }

        }

        .search-btn {

            position: absolute;
            right: 16px;
            top: 16px;
            text-align: center;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            z-index: 99;

        }

    }

}